



<link href="~/lib/bootstrap/dist/css/Organigrama.css" rel="stylesheet" />

<h1> Organigrama de la empresa</h1>

<hr />


@{List<Empleado> lista = ViewBag.Empleados;}



<div class="container">

    <label>Jefe</label>

    @foreach (var e in (from e in lista where e.Cargo == CargoEnum.JEFE select e).ToList())
    {

        <h1 class="level-1 rectangle">@e.Nombre</h1>

    }

    Administradores
    <ol class="level-2-wrapper">

        @foreach (var e in (from e in lista where e.Cargo == CargoEnum.ADMINISTRACION select e).ToList())
        {
            <li>
                <h2 class="level-2 rectangle">@e.Nombre</h2>
            </li>

        }
    </ol>
    Recepcionistas
    <ol class="level-2-wrapper">

        @foreach (var e in (from e in lista where e.Cargo == CargoEnum.RECEPCIONISTA select e).ToList())
        {
            <li>
                <h2 class="level-2 rectangle">@e.Nombre</h2>
            </li>

        }
    </ol>

    Maestranza
    <ol class="level-2-wrapper">
        <li>
            Mantenimiento
            <ol class="level-3-wrapper">

                @foreach (var e in (from e in lista where e.Cargo == CargoEnum.MANTENIMIENTO select e).ToList())
                {
                    <li>
                        <h2 class="level-3 rectangle">@e.Nombre</h2>
                    </li>

                }

            </ol>
        </li>


        <li>


            Limpieza
            <ol class="level-3-wrapper">

                @foreach (var e in (from e in lista where e.Cargo == CargoEnum.LIMPIEZA select e).ToList())
                {
                    <li>
                        <h2 class="level-3 rectangle">@e.Nombre</h2>
                    </li>

                }

            </ol>
        </li>
    </ol>

</div>
