

@{var lista = ViewBag.Empleados;}

<link href="~/lib/bootstrap/dist/css/Organigrama.css" rel="stylesheet" />

<h1> Organigrama de la empresa</h1>
<hr />
@{List<Empleado> jefes = new List<Empleado>(); }
@{List<Empleado> administradores = new List<Empleado>(); }
@{List<Empleado> mantenimiento = new List<Empleado>(); }
@{List<Empleado> limpieza = new List<Empleado>(); }
@{List<Empleado> recepcionistas = new List<Empleado>(); }






@foreach (var e in lista)
{
    if (e.Cargo == CargoEnum.JEFE)
    {

        jefes.Add(e);
    }
    else if (e.Cargo == CargoEnum.ADMINISTRACION)
    {

        administradores.Add(e);
    }
    else if (e.Cargo == CargoEnum.RECEPCIONISTA)
    {

        recepcionistas.Add(e);
    }
    else if (e.Cargo == CargoEnum.LIMPIEZA)
    {

        limpieza.Add(e);
    }
    else if (e.Cargo == CargoEnum.MANTENIMIENTO)
    {

        mantenimiento.Add(e);
    }

}

<div class="container">
    <!-- Chart goes here -->
    <label>Jefe</label>
    @foreach (var e in jefes) {
<li>
    <h1 class="level-1 rectangle">@e.Nombre</h1>
</li>
    }

    Administradores
    <ol class="level-2-wrapper">

        @foreach (var e in administradores)
        {
            <li>
                <h2 class="level-2 rectangle">@e.Nombre</h2>
            </li>

        }
    </ol>
    Recepcionistas
    <ol class="level-2-wrapper">

        @foreach (var e in recepcionistas)
        {
            <li>
                <h2 class="level-2 rectangle">@e.Nombre</h2>
            </li>

        }
    </ol>

    Maestranza
    <ol class="level-2-wrapper">
        <li>
            Mantenimiento
            <ol class="level-3-wrapper">

                @foreach (var e in mantenimiento)
                {
                    <li>
                        <h2 class="level-3 rectangle">@e.Nombre</h2>
                    </li>

                }

            </ol>
        </li>


        <li>


            Limpieza
            <ol class="level-3-wrapper">

                @foreach (var e in limpieza)
                {
                    <li>
                        <h2 class="level-3 rectangle">@e.Nombre</h2>
                    </li>

                }

            </ol>
        </li>
    </ol>

</div>
