@model IEnumerable<Hotel.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}
@{
    var Antiguedad=ViewData["Antiguedad"];
}
<h1>Lista de Empleados</h1>

<p>
    <a asp-action="Create">Crear Nuevo Empleado</a>
</p>

<form asp-controller="Empleadoes" asp-action="BuscarEmpleado">
    <p>
         <input type="text" name="NombreEmpleado" placeholder="Ingrese el Empleado" />
        <input type="submit" value="Buscar" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TurnoEnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
              <p> Años en la empresa </p> 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sueldo)
            </th>
            

            <th></th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TurnoEnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Antiguedad)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sueldo)
            </td>
            
            <td>
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                <a asp-action="Seleccion" asp-route-id="@item.Id">Selecionar</a>

            </td>
        </tr>
        }
    </tbody>
</table>
