@model Hotel.Models.Empleado

@{ List<Telefono> listaTelefonos = (List<Telefono>)ViewData["telefonos"];}

<h4>Empleado</h4>
<h1>@Model.Nombre @Model.Apellido</h1>

<div>

    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sueldo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sueldo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt class="col-sm-2">
            <p>Sueldo por Cargo</p>
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Sueldo
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TurnoEnum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TurnoEnum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Antiguedad)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.antiguedad
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefonos)
        </dt>
        <dd class="col-sm-10">

            @foreach (var tel in listaTelefonos)
            {
                <p>@tel.Numero</p>
            }




        </dd>

    </dl>
    <td>
        <a asp-action="Edit" asp-route-id="@Model.Id">Editarlo</a> |
        |
        <a asp-action="Delete" asp-route-id="@Model.Id">Borrarlo</a>
        <a asp-controller="Empleadoes" asp-action="Index" class="btn btn-primary" style="color:yellow">Volver</a>

    </td>
</div>
