@model IEnumerable<Hotel.Models.Habitacion>

<h4>Lista Habitaciones</h4>

<p>
    <a asp-action="Crear">Agregar Habitacion</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Mantenimiento)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.EmpleadoAcargo)
            </th>

        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            List<Empleado> Empleados = ViewBag.Empleados;

            Empleado Emp = (from e in Empleados where e.Id == item.IdEmpleado select e).FirstOrDefault();

            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Estado)*@

                    @if (item.Estado)
                    {
                        <button >Mantenimiento</button>
                    }
                    else { 
                
                         <button>Lista</button>
                    }

                    </td>

                <td>
                    @*@Html.DisplayFor(modelItem => item.Mantenimiento)*@
                    @if (item.Mantenimiento != false)
                    {
                        @*<input asp-controller="Habitaciones" asp-action="DarMantenimiento" asp-route-id="@item.Id" type="button" class="btn btn alert-primary" style="background:red" value="Mantenimiento">*@
                        <a asp-action="DarMantenimiento" asp-route-id="@item.Id">Dar Mantnimiento</a>
                    }

                    else
                    {

                        <button type="button" style="background:green">Lista</button>
                        <a asp-action="InformarMantenimiento" asp-route-id="@item.Id">in</a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Emp.Nombre)
                </td>
               

                <td>
                </td>
                <td>
                   
                    <a asp-action="Seleccion" asp-route-id="@item.Id">Selecionar</a>

                </td>
            </tr>
        }
    </tbody>
</table>

