@model IEnumerable<Hotel.Models.Habitacion>

<h4>Lista Habitaciones</h4>

<p>
    <a asp-action="Crear">Agregar Habitacion</a>
</p>

<div class="form-group">
    <label class="control-label"></label>


    <form asp-action="ListaHabitacionesPorEstado">
        <label>Buscar Habitaciones por estados</label>
        <select asp-ac class="form-control" name="num" >
            <option>Selecciona un tipo de estado</option>
            <option value="1">Habitaciones Libres</option>
            <option value="2">Habitaciones Ocupadas</option>
            <option value="3">Habitaciones en Reparacion</option>
        </select>
        <div class="form-group">
            <input type="submit" value="Buscar" class="btn btn-primary" />
        </div>
    </form>


</div>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Mantenimiento)
            </th>

            <th>
                <p>Empleado Responsable</p>
            </th>
            <th>
                <p>Disponibilidad</p>
            </th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            List<Empleado> Empleados = ViewBag.Empleados;

            Empleado Emp = (from e in Empleados where e.Id == item.IdEmpleado select e).FirstOrDefault();

            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Estado)*@

                    @if (item.Estado)
                    {
                        <button >En Mantenimiento</button>
                    }
                    else { 
                
                         <button>Lista</button>
                    }

                    </td>

                <td>
                    @*@Html.DisplayFor(modelItem => item.Mantenimiento)*@
                    @if (item.Mantenimiento != false)
                    {
                        @*<input asp-controller="Habitaciones" asp-action="DarMantenimiento" asp-route-id="@item.Id" type="button" class="btn btn alert-primary" style="background:red" value="Mantenimiento">*@
                        <a asp-action="DarMantenimiento" asp-route-id="@item.Id">Dar Mantenimiento</a>
                    }

                    else
                    {

                        <button type="button" style="background:green">Lista</button>
                        @*<a asp-action="InformarMantenimiento" asp-route-id="@item.Id">Informar</a>*@
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => Emp.Nombre)
                </td>
               

                <td>
                    @if (item.Ocupacion == EstadoDeUsos.LIBRE)
                    {

                    <a  asp-action="OcuparHabitacion" asp-route-id="@item.Id"> Ocupar </a>

                    }
                    else if(item.Ocupacion == EstadoDeUsos.OCUPADA) {

                    <a  asp-action="DesocuparHabitacion" asp-route-id="@item.Id"> Desocupar </a>
                    }
                    else{
                    <a asp-action="DarMantenimiento" asp-route-id="@item.Id">Dar Mantenimiento</a>
                    }

                </td>
                
            </tr>
        }
    </tbody>
</table>

